RewriteEngine on
RewriteRule AdvancedTextualConfirmation.zip http://bbantispam.com/atc/AdvancedTextualConfirmation-1.0.3.zip [L,R]
RewriteRule atc_langpack.zip http://bbantispam.com/atc/atc_langpack_20070924.zip [L,R]
